.App {
  /* text-align: center; */
}

.App-header {
  font-size: calc(10px + 2vmin);
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

.avatar {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;

}

.searchbar form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.inputgroup {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

label {
  font-size: 0.8rem;
  font-weight: bold;
}

.commit--message {
  font-size: 2rem;
  font-weight: bold;
}
.commit--attribution {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 10px 0 40px 0;
}

.author {
  font-weight: bold;
}

.date {

}

.time {
  color: #999;
}

.error {
  color: red;
}

.list {
  margin-top: 40px;
}
